*{
   font-family: cursive;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-padding-top: 4rem;
   scroll-behavior: smooth;
   list-style: none;
   text-decoration: none;    /*textunline nowenna*/
}

/* common styles */
:root{
--main-color: #bc9667;
--secondary-color:#edeae3;
--text-color:#1b1b1b; 
--bg-color:#fff;   

--box-shadow:2px 2px 10px 14px rgb(14 55 54 / 15%)


/* --button-padding:10px; */
}
img{
    width:100%
}
body{
    color: var(--text-c olor);
}

header{
  position: fixed; 
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;  
  display: flex;
  justify-content: space-between ;
  align-items: center;
  border: 1px solid black;
  padding: 18px 100px;
background: var(--text-color );
/* animation */
transition: 0.5s linear;
}

/* (logo clz eka) clz ekak css walin decorate krddi issrht . thiynn ona */
.logo img{
    width: 60px;
}

.navbar{
display: flex;

}

/* navbar eke thiyena anchor tag ekat acces gnnw */
.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    /* rem 1 = 16px */
    font-size: 1rem;
    /* navbar eke letters capital karai */
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    background-color: var(--main-color);
    border-radius: 0.5rem;
    transition-property: background-color ;
    transition-duration: 0.5s;
    transition-timing-function:linear;
/* transition:0.5s all linear ; */
   
}

.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display:flex;
    column-gap: 0.8rem;
}
.header-icon .bx{
    color: var(--bg-color );
}

/* css walin id ekak decorate krddi id eke mulata #mark eka danw */
#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    /* mkk hri 2k overlap wenwnm z-index eka wadi eka thamai ihalinma display wenne */
    z-index: 100001;
    cursor: pointer;
    display: none ;
}



/* button{
    background: var(--main-color);
    padding: var(--button-padding);
}
   */